.article--generic-elem
  margin: 1.5rem 0

.article--generic-elem:first-of-type
  margin-top: 0

.article--generic-elem:last-of-type
  margin-bottom: 0

.article--quote
  padding: 0 2rem
  margin: 5rem 0
  font-size: 1.8rem
  opacity: 0.7
